.sidebar {
    position: fixed;
    top: 45px;
    left: 0;
    bottom: 0px;
    width: 72px;
    background-color: rgb(255, 255, 255);
    z-index: 200;
    padding-top: 5px;

   
}

.sidebar-boxs {
    height: 76px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
 
}


.sidebar-boxs:hover {
    background-color: rgb(243, 242, 242);
}

.sidebar-boxs
img {
    width: 30px;
    margin-bottom:4px;
}

.sidebar-boxs div {
    font-family: Roboto,Arial;
    font-size: 10px;
}
